:root {
	/* 폰트 사이즈 */
	--fs-xs: clamp(0.64rem, calc(0.67rem + -0.04vw), 0.66rem);
	--fs-sm: clamp(0.76rem, calc(0.74rem + 0.07vw), 0.8rem);
	--fs-base: clamp(0.88rem, calc(0.82rem + 0.22vw), 1rem);
	--fs-lg: clamp(1.01rem, calc(0.91rem + 0.43vw), 1.25rem);
	--fs-xl: clamp(1.16rem, calc(0.99rem + 0.72vw), 1.56rem);
	--fs-2xl: clamp(1.33rem, calc(1.07rem + 1.1vw), 1.95rem);
	--fs-3xl: clamp(1.53rem, calc(1.15rem + 1.61vw), 2.44rem);
	--fs-4xl: clamp(1.76rem, calc(1.22rem + 2.28vw), 3.05rem);
	--fs-5xl: clamp(2.02rem, calc(1.28rem + 3.17vw), 3.82rem);

	/* 컬러 */
	--color-bg: #ececec;
	--color-border: #000000;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	color-scheme: light;
	scroll-behavior: smooth;
	user-select: none;
}

body {
	font-family: 'Basis', 'LINESeedKR-Bd', system-ui;
	font-size: 1.2rem;
	line-height: 1.3;
	width: 100%;
	overflow-x: hidden;
	overscroll-behavior: none;
}

main {
	position: relative;
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;
}

button {
	outline: transparent;
}

.stack {
	display: grid;
	grid-template-areas: 'stack';
	place-items: center;
}

.stack > * {
	grid-area: stack;
}

@font-face {
	font-family: 'LINESeedKR-Bd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Basis';
	src: url('/Basis.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
